<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/index.css">
		<title>Blimp</title>
	</head>

	<body>
		<div>
			<h1>Nice! You have just created your first
				<br><span>Blimp</span> app.
			</h1>
			<p>Blimp is a lightweight web framework powered by Node.js and Express.js.</p>
		</div>
	</body>

</html>